@model ContactCreateViewModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="container">
    <h2>Create contact</h2>
    <a asp-controller="home" asp-action="index" class="list-group-item">Back</a>
    <div tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content animated fadeOutRight">
                <div class="modal-body">
                    <div class="row modal-close">
                        <div class="col-md-12 padding-bottom-8 padding-top-8 bg-silver">
                            <h4 class="pull-left"><b>Create New Contact</b></h4>
                            <ul class="list-unstyled list-inline text-right">
                                <li class="close-right-modal"><span class="fa fa-times fa-2x" data-dismiss="modal"></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contact-add-content">
                                <form asp-controller="home" asp-action="create" method="post" class="form-horizontal tabular-form margin-top-10">
                                    <div class="form-group">
                                        <label for="name" class="col-sm-2 control-label">Name</label>
                                        <div class="col-sm-10 tabular-border">
                                            <input type="text" class="form-control" name="name" placeholder="Full Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="position" class="col-sm-2 control-label">Position</label>
                                        <div class="col-sm-10 tabular-border">
                                            <input type="text" class="form-control" name="position" placeholder="Position">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="address" class="col-sm-2 control-label">Address</label>
                                        <div class="col-sm-10 tabular-border">
                                            <input type="text" class="form-control" id="address" name="address" placeholder="Address">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
                                        <div class="col-sm-10">
                                            <div class="custom-file">
                                                <input asp-for="Photo" class="form-control custom-file-input">
                                                <label class="custom-file-label">Choose File...</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="nickname" class="col-sm-2 control-label">NickName</label>
                                        <div class="col-sm-10 tabular-border">
                                            <input type="text" class="form-control" id="group" name="nickname" placeholder="NickName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone" class="col-sm-2 control-label">Phone</label>
                                        <div class="col-sm-10 tabular-border">
                                            <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-sm-2 control-label" name="email">Email</label>
                                        <div class="col-sm-10 tabular-border">
                                            <input type="text" class="form-control" id="email" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <button type="button" class="btn btn-silver btn-flat">Cancel</button> <button type="submit" class="btn btn-green btn-flat">Save Changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
